@use '/src/styles/variables' as var;

.splashscreen {

    height: 100vh;
    display: grid;
    background-color: light-dark(var.$light-background-color, var.$dark-background-color);


    .splash__img {
        place-self: center;
        max-width: 174px;
        text-align: center;

        img {
            opacity: 0;
            transform: scale(0);
            transition: .6s cubic-bezier(.9,.03,.69,.22);
        }
    }

    .splash__title {
        color: transparent;
        background-image: linear-gradient(#fff, #fff);
        background-repeat: no-repeat;
        -webkit-background-clip: text;
        background-position: -750px 0;
        transition: background-position 1.5s cubic-bezier(1, 0, 0, 1);
    }

}