@use '/src/styles/variables' as vars;

#app {
    display: grid;
    height: calc(var(--vh) * 100);
    background-color: light-dark(#fff, #1F1F1F);
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

input {
    background-color: vars.$light-font-color;
    color: vars.$dark-font-color;
    border: none;

    &::placeholder {
        color: rgba(34, 34, 34, 0.40);
    }
}