footer {
    align-self: end;
    width: 100%;



    .footer__container {
        height: 93px;

        .footer__nav {

            height: inherit;

            .footer__menu {
                display: flex;
                padding: 1rem 26px 35px;
                justify-content: space-between;
                font-size: 12px;
                align-items: end;
                height: inherit;
            }
        }
    }
}